@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------*/
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #6e6e6e1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, hidden 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, hidden 0.3s ease-in-out;
}

.modal-overlay__visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out, hidden 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, hidden 0.3s ease-in-out;
}

.modal {
  padding: 15px;
  border-radius: 6px;
  background-color: #fff;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.modal__visible {
  display: block;
}

.settings-modal__top:not(:last-child) {
  margin-bottom: 15px;
}

.top-modal-settings__exit {
  text-align: right;
}

.top-modal-settings__close {
  cursor: pointer;
}

.top-modal-settings__label {
  font-size: 24px;
}

.top-modal-settings__nickname:not(:last-child) {
  margin-bottom: 15px;
}

.top-modal-settings__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-modal-settings__input {
  font-size: 16px;
  border-radius: 6px;
  width: 100%;
  padding: 6px 10px;
  border: #9ccf1b 1px solid;
}

.top-modal-settings__btn-change-user {
  background: #fff;
  padding: 8px;
  border-radius: 0px 6px 6px 0px;
}

.top-modal-settings__btn-change-user img {
  height: 24px;
  width: 24px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (any-hover: hover) {
  .top-modal-settings__btn-change-user img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.btn-action {
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #3a3a3a;
  background-color: #3a3a3a;
}

[class*="__container"] {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.communication {
  padding: 50px 0px;
}

@media (max-width: 767px) {
  .communication {
    padding: 30px 0px;
  }
}

@media (max-width: 480px) {
  .communication {
    padding: 15px 0;
  }
}

.communication__container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.communication__top-actions:not(:last-child) {
  margin-bottom: 15px;
}

.communication__messages-area {
  word-break: break-all;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.communication__messages-area:not(:last-child) {
  margin-bottom: 15px;
}

.top-actions-communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.top-actions-communication__btn-settings {
  background-color: #9ccf1b;
}

@media (any-hover: hover) {
  .top-actions-communication__btn-settings:hover {
    background-color: #83ad18;
  }
}

.top-actions-communication__btn-exit {
  background-color: #d30812;
}

@media (any-hover: hover) {
  .top-actions-communication__btn-exit:hover {
    background-color: #aa060f;
  }
}

.area-messages {
  padding: 5px;
  background-color: #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-height: 800px;
}

@media (max-width: 550px) {
  .area-messages {
    max-height: 500px;
  }
}

@media (max-width: 380px) {
  .area-messages {
    max-height: 450px;
  }
}

.area-messages__list {
  padding: 15px;
  overflow-y: auto;
}

.area-messages__list::-webkit-scrollbar {
  width: 7px;
}

.area-messages__list::-webkit-scrollbar-track {
  background-color: #3a3a3a;
  border-radius: 8px;
}

.area-messages__list::-webkit-scrollbar-thumb {
  background-color: #9ccf1b;
  border-radius: 8px;
}

.area-messages__message:not(:last-child) {
  margin-bottom: 15px;
}

.area-messages__send-time {
  text-align: right;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

.area-messages__send-time:not(:first-child) {
  margin-top: 5px;
}

.user-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #3a3a3a;
}

.user-message div {
  background-color: #f2f2f2;
}

.user-message__wrapper {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
}

.user-message__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.other-message {
  color: #fff;
}

.other-message div {
  background-color: #9ccf1b;
}

.footer-actions-communication__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-actions-communication__input {
  font-size: 16px;
  border-radius: 6px 0px 0px 6px;
  width: 100%;
  padding: 12px 0px 12px 8px;
}

.footer-actions-communication__btn-send-message {
  background: #fff;
  padding: 8px;
  border-radius: 0px 6px 6px 0px;
}

.footer-actions-communication__btn-send-message img {
  height: 24px;
  width: 24px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (any-hover: hover) {
  .footer-actions-communication__btn-send-message img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
