$mainColor: #3a3a3a;
$whiteColor: #fff;
$greenColor: #9ccf1b;
$darkGreenColor: #83ad18;
$lightGrey: #f2f2f2;
$redColor: #d30812;
$blurColor: #6e6e6e1a;
$hoverGreenColor: #83ad18;
$hoverRedColor: #aa060f;
